/*color scheme
Grey #C5C1C0 rgb(197,193,192)
Black #0A1612 rgb(10,22,18)
Denim #1A2930 rgb(26,41,48)
Marigold #F7CE3E rgb(247,206,62)

font
font-family: 'Ranga', cursive;
font-family: 'Raleway', sans-serif;
*/

body {
	background-image: url('./images/brickwall.png');
	padding-top: 70px;
}

nav{
	background-color: rgba(10,22,18, 0.5);
	font-family: 'Raleway', sans-serif;
}
.navlink{
	color: #0A1612;
}

.icons{
	height: 30px;
	width: 30px;
}
#feather{
	height: 50px;
	width: 50px;
}
a#github, a#linkedin, a#twitter {
	height: 50px;
	width: 55.95px;
	padding: 5px, 5px, 5px, 5px;

}

/* landing page --> animation from @samarkandiy */
.landing {
	font-family: 'Ranga', sans-serif;
	height: 650px;
	padding-top: 250px;
	color: #1A2930;
}
.intro{
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

.intro:nth-child(2){
  animation: type2 6s steps(60, end);
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}
/*end of landing page */

.empty{
	padding-top: 70px;
	height: 300px;
	padding-top: 100px;
	background-color: rgba(247,206,62, 0.5);
	color: #0A1612;
	font-family: 'Ranga', sans-serif;
}
.aboutText{
	font-family: 'Raleway', cursive;
	color: #1A2930;
}
.aboutCon{
	height: 450px;
	padding-top: 50px
}
.profile{
	padding-top: 50px;
}
.projectImg{
	height: 250px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 70px;
}
.projectContent{
	height: 600px;
	padding-top: 70px;
}
.thumbnail{
	background-color: #1A2930;
}
.projectCaption{
	color: #C5C1C0;
}




