/*color scheme
Grey #C5C1C0 rgb(197,193,192)
Black #0A1612 rgb(10,22,18)
Denim #1A2930 rgb(26,41,48)
Marigold #F7CE3E rgb(247,206,62)

font
font-family: 'Ranga', cursive;
font-family: 'Raleway', sans-serif;
*/

body {
	background-image: url('./images/brickwall.png');
	padding-top: 70px;
}

nav{
	background-color: rgba(10,22,18, 0.5);
	font-family: 'Raleway', sans-serif;
}
.navlink{
	color: #0A1612;
}
.empty{
	padding-top: 70px;
}
.icons{
	height: 30px;
	width: 30px;
}
#feather{
	height: 50px;
	width: 50px;
}
a#github, a#linkedin, a#twitter {
	height: 50px;
	width: 55.95px;
	padding: 5px, 5px, 5px, 5px;

}
.landing {
	height: 650px;
	padding-top: 250px;
	color: #1A2930;
}
#intro{
	animation: type 4s steps(60, end);}